<!DOCTYPE html>
<html lang="zh">
<!--index.html-->
{% include 'layout.html' %}
<body>
    <div class="container">
        {% include 'header.html' %}
<!--圖片上傳-->
        <div class="content">
            <div class="section">
                <div class="section-title">Compare Images Easily</div>
                <div class="section-subtitle">Upload two images and see the differences side by side</div>
                <div class="upload-container">
                    <div class="image-upload">
                        <div class="image-box" id="image-box1">image 1</div>
                        <div class="upload-button" onclick="document.getElementById('file-input1').click();">Upload Image</div>
                        <input type="file" id="file-input1" style="display: none;" onchange="uploadImage('image-box1', 'file-input1')">
                    </div>
                    <div class="image-upload">
                        <div class="image-box" id="image-box2">image 2</div>
                        <div class="upload-button" onclick="document.getElementById('file-input2').click();">Upload Image</div>
                        <input type="file" id="file-input2" style="display: none;" onchange="uploadImage('image-box2', 'file-input2')">
                    </div>
                </div>
                <button class="submitImage-button" id="submit-button" onclick="handleSubmit()">Submit</button>
                <div class="section-title" id="running-message" style="display: none;">Running......</div>
            </div>
            <div class="divider"></div>
        </div>
<!--尾巴-->
{% include 'footer.html' %}
    </div>
<!--import js file-->
<script src="{{ url_for('static', filename='script/UploadImage.js') }}"></script>

</body>
</html>
